.team {
	background-color: var(--secondary-background);
}
.team__list {
	@media screen and (min-width: 768px) {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
	}

	@media screen and (min-width: 1200px) {
		@include flex;
		gap: 30px;
		flex-wrap: nowrap;
	}
}
.team__title {
	@include font(700, 28px, 1.18, 0.03em);
	text-align: center;
	margin-bottom: 30px;

	@media screen and (min-width: 1200px) {
		@include font(700, 36px, 1.17, 0.03em);
		margin-bottom: 50px;
	}
}
.team__item {
	max-width: 450px;
	background: var(--accessary-color);
	box-shadow: var(--box-shadow-team);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
	margin-bottom: var(--item-margin);
	&:last-child {
		margin-bottom: 0;
	}
	@media screen and (min-width: 768px) {
		max-width: 354px;
		flex-basis: calc((100% - 30px) / 2);
		margin-bottom: 0;
	}
	@media screen and (min-width: 1200px) {
		max-width: 270px;
	}
}
.team__name {
	@include font(500, 16px, 1.19, 0.03em);
}
.team__text {
	@include font-normal(16px, 1.19, 0.03em);
	color: var(--secondary-text-color);
	margin-top: 10px;
	margin-bottom: 16px;
}
.team__figcaption {
	padding-top: 30px;
	padding-bottom: 24px;
	align-items: center;

	@media screen and (min-width: 1200px) {
		padding-bottom: 30px;
	}
}
